version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yii2-app
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      DB_DSN: "mysql:host=db;dbname=yii2_books;charset=utf8mb4"
      DB_USER: "yii"
      DB_PASS: "yii"

  db:
    image: mysql:8.0
    container_name: yii2-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: yii2_books
      MYSQL_USER: yii
      MYSQL_PASSWORD: yii
    ports:
      - "3307:3306"
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
